//DESC:: 이미지 업로드 버튼.
@mixin uploadButton($active: false) {
	border: 1px solid purple;
	color: purple;
	font-weight: bold;
	font-size: 20px;
	padding: 15px 20px;
	border-radius: 10px;
	position: absolute;
	top: 90px;
	left: 45%;
	cursor: pointer;
	user-select: none;

	@if $active {
		background-color: purple;
		color: white;
	}
}
//DESC:: 캔버스 영역
@mixin canvas() {
	border: 1px solid #aca79f;
	background-color: #ffffff;
	width: 966px;
	height: 65%;
	position: relative;
	top: 200px;
	margin: 0 auto;
}

@mixin baseLayout() {
	max-width: 1920px;
	min-width: 1320px;
	height: 800px;
	border: 1px solid rgb(69, 145, 25);
	position: relative;
	background-color: #ddd;
}
