.root {
	min-width: 1320px;
	max-width: 1920px;
	height: 1500px;
	position: relative;
	background-color: #ddd;
	border: 1px solid rgb(69, 145, 25);

	.sideBar {
		width: 280px;
		height: 900px;
		position: fixed;
		background-color: rgb(255, 238, 218);
	}

	.moveableSpace {
		width: 84.5%;
		height: 900px;
		margin-left: auto;
		position: relative;
		background-color: rgb(150, 150, 187);

		.canvas {
			width: 966px;
			height: 600px;
			margin: 0 auto;
			position: relative;
			top: 200px;
			border: 1px solid #aca79f;
			background-color: #bbb2b2;
		}
		.imageBtn {
			padding: 15px 20px;
			position: absolute;
			top: 90px;
			left: 45%;
			border: 1px solid purple;
			color: purple;
			font-weight: bold;
			font-size: 20px;
			border-radius: 10px;
			cursor: pointer;
			user-select: none;

			&.active {
				background-color: purple;
				color: white;
			}
		} // end of .imageBtn

		.moveableBox {
			border: 1px solid red;
			position: absolute;
			user-select: none;
			cursor: move;
			z-index: 50;
			display: inline-block;
			max-height: 250px;
			max-width: 450px;
			display: flex;
			flex-direction: column;
			align-items: center;

			> .targetLine {
				width: 2px;
				height: 23px;
				top: -27px;
				position: absolute;
				background-color: rgb(8, 180, 163);

				> .rotateControl {
					width: 15px;
					height: 15px;
					border: 2px solid turquoise;
					border-radius: 50%;
					position: absolute;
					top: -5px;
					left: -6px;
					background-color: rgb(223, 17, 17);
				}
			}
			> .boxWrapper {
				width: 100%;
				height: 100%;
				max-width: 450px;
				max-height: 250px;
				position: fixed;
				z-index: 90;
				border: 1px solid blue;

				.testControl {
					background-color: rgb(255, 255, 255);
					border: 2px solid turquoise;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					position: absolute;

					&.e {
						top: 18px;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						margin-right: -6px;
						cursor: e-resize;
					}
					&.w {
						margin-left: -6px;
						top: 50%;
						transform: translateY(-50%);
						cursor: w-resize;
					}
					&.nw {
						top: 0;
						left: 0;
						margin-left: -6px;
						margin-top: -6px;
						cursor: nw-resize;
					}
					&.n {
						left: 50%;
						transform: translateX(-50%);
						margin-top: -6px;
						cursor: n-resize;
					}
					&.ne {
						right: 0;
						top: 0;
						margin-right: -6px;
						margin-top: -6px;
						cursor: ne-resize;
					}
					&.sw {
						cursor: sw-resize;
						left: 0;
						bottom: 0;
						margin-left: -6px;
						margin-bottom: -6px;
					}
					&.s {
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						margin-bottom: -6px;
						cursor: s-resize;
					}
					&.se {
						cursor: se-resize;
						right: 0;
						bottom: 0;
						margin-right: -6px;
						margin-bottom: -6px;
					}
				}
			}
			> .uploadImg {
				display: block;
				object-fit: fill;
				width: 100%;
				height: 100%;
				max-width: 450px;
				max-height: 250px;
			}
		}
	} // end of .moveSP
}
