.baseLayout {
	max-width: 1920px;
	min-width: 1320px;
	height: 800px;
	border: 1px solid red;
	position: relative;
	background-color: #ddd;

	.canvas {
		border: 1px solid #aca79f;
		background-color: #ffffff;
		width: 966px;
		height: 65%;
		position: relative;
		top: 200px;
		margin: 0 auto;
	}
	.imageBtn {
		border: 1px solid purple;
		color: purple;
		font-weight: bold;
		font-size: 20px;
		padding: 15px 20px;
		border-radius: 10px;
		position: absolute;
		top: 90px;
		left: 45%;
		cursor: pointer;
		user-select: none;

		&.active {
			background-color: purple;
			color: white;
		}
	} // end of .imageBtn
} // end of .baseLayout

.moveableBox {
	border: 1px solid red;
	position: absolute;
	user-select: none;
	cursor: move;
	z-index: 5;
	display: inline-block;

	> img {
		width: 300px;
		height: 100px;
		//TODO:: 이미지가 처음 로드되었을 때 이미지의 비율을 설정하기.
	}
	> .stick {
		position: relative;
		background-color: turquoise;
		width: 2px;
		height: 23px;
		top: -59px;
		margin: 0 auto;
	}
}
.moveable {
	background-color: rgb(255, 255, 255);
	border: 2px solid turquoise;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(0px) translate(500px, 94px) rotate(0rad) scale(1);

	/*
	동그라미 버튼들 
	position: fixed에 
	transform: translate()해서 ()안의 값들이 계속 바뀌는 것임. 

	*/

	&.rotate {
		cursor: ne-resize;
		background-color: red;
		z-index: 5;
	}

	// &.moveE {
	// 	right: -8px;
	// 	bottom: 45%;
	// 	cursor: e-resize;
	// }
	// &.moveW {
	// 	left: -8px;
	// 	bottom: 45%;
	// 	cursor: w-resize;
	// }
	// &.moveS {
	// 	bottom: -8px;
	// 	left: 45%;
	// 	cursor: s-resize;
	// 	transform: translate(-45%, -8px);
	// }
	// &.moveN {
	// 	top: -8px;
	// 	left: 45%;
	// 	cursor: n-resize;
	// }
}
